.AboutUsContainer {
    display: flex;
    justify-content: start;
    align-content: center;
    flex-wrap: wrap;
    width: 100vw;
    height: auto;
    background-color: #ffe500;
    padding: 50px;
}

.AboutUsContainer__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 6rem;
    height: fit-content;
    text-align: start;

    letter-spacing: -0.025em;
    color: #0b0b0b;
}

.AboutUsContainer__pharagrap {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 1.25rem;
    letter-spacing: -0.025em;
    color: #0b0b0b;
}
@media screen and (max-width: 1199px) {
    .AboutUsContainer__pharagrap {
        font-weight: 400;
        font-size: 15px;
    }
    .AboutUsContainer__title {
        font-size: 4.6875rem;
    }
    .AboutUsContainer {
        align-content: end;
    }
}
@media screen and (max-width: 450px) {
    .AboutUsContainer__title {
        font-size: 4.0875rem;
    }
}
