.ourTeamSection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100vw;
    height: auto;
    background-color: #ffffff;
    padding: 50px;
}

.ourTeamSection__box1 {
    place-items: center;
    align-self: center;
}
.ourTeamSection__box1__title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    text-align: start;
    letter-spacing: -0.025em;

    color: #0b0b0b;
}

.ourTeamSection__box1__pharagrap {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: -0.025em;
    width: 50vw;
    color: #0b0b0b;
}

.ourTeamSection__box2 {
    display: grid;
    place-items: end;
    padding-bottom: 200px;
}
.ourTeamSection__img1 {
    width: 250px;
    border-radius: 50%;
    background-size: 450px;
}
.ourTeamSection__box3 {
    display: grid;
    place-items: start;
    padding-top: 200px;
}
.ourTeamSection__img2 {
    width: 250px;
    border-radius: 50%;
}

@media screen and (max-width: 1170px) {
    .ourTeamSection {
        flex-direction: column;
    }
    .ourTeamSection__box1__pharagrap {
        width: 100%;
        font-weight: 400;
        font-size: 15px;
    }
    .ourTeamSection__box2 {
        padding: 0;
    }
    .ourTeamSection__box3 {
        padding: 0;
    }
}
@media screen and (max-width: 750px) {
    .ourTeamSection__box1__title {
        font-size: 4.6875rem;
    }
}
@media screen and (max-width: 450px) {
    .ourTeamSection__box1__title {
        font-size: 4.0875rem;
    }
}
